.flash {
  position: fixed;
  left: -350px;
  width: 300px;
}

.flash.h_top {
  top: 20px;
}
.flash.H_bottom {
  bottom: 20px;
}

.show {
  animation: flash ease-in-out 3s;
}

@keyframes flash {
  20% {
    left: 20px;
  }
  60% {
    left: 20px;
  }
  100% {
    left: -350px;
  }
}
