<div class="cart-wrapper">
    <div id="cart" :class="{fixed: cart_fixed, hide: (cart_fixed && hide_cart)}">
        <div class="cart__head">
            <div class="cart__title">Корзина</div>
            <div v-if="cart_fixed" class="cart-controller" @click="toggleShowCart">
              <div class="icn" :class="{'icn-cart': hide_cart, 'icn-arrow-left': !hide_cart}">
              </div>
            </div>
        </div>
        <div class="cart__items">
            <div v-for="cart_item in getCartItems" class="item">
              <div class="item__product">
                <div class="name">{{ cart_item.product.name }}</div>
              </div>
              <div class="item__price">
                <div class="count">
                  <div class="decr" @click="decr(cart_item.product.id)">
                      -
                  </div>
                  <div class="current">
                      {{ cart_item.count }}
                  </div>
                  <div :class="{disabled: (cart_item.count == cart_item.product.total)}"
                        class="incr" @click="incr(cart_item.product.id)">
                      +
                  </div>
                </div>
                <div class="price">{{ parsePrice(cart_item.product.price * cart_item.count) }}</div>
                <div class="remove-item">
                    <CustomBtn :text="'Удалить'"
                               :type="'button'"
                               :btnClass="'red'"
                               :emitMethodName="'deleteFromCart'" @deleteFromCart="deleteFromCart"
                               :clickParam="{id: cart_item.product.id}" />
                </div>
              </div>
            </div>
        </div>
        <div class="cart__total">
            <div class="total">
              Итого: {{ parsePrice(getTotalPriceInCart) }}
            </div>
        </div>
    </div>
</div>
