div.alert {
  width: 100%;
  padding: 15px 10px;
  opacity: 0.9;
  border: 2px solid #000;
}

div.alert.success {
  border-color: rgb(0, 102, 0);
  background-color: rgb(0, 119, 0);
  color: #ffffff;
}

div.alert.danger {
  border-color: #8b0000;
  background-color: #ff0000;
  color: #ffffff;
}

div.alert.info {
  border-color: #ffffff;
  background-color: #a9a9a9;
  color: #ffffff
}
