#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.icn {
  width: 50px;
  height: 50px;
}

.icn-cart {
  background: url('./cart.svg');
}

.icn-arrow-left {
  background: url('./arrow-left.svg');
}
