#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.icn {
  width: 50px;
  height: 50px;
}

.icn-cart {
  background: url('./cart.svg');
}

.icn-arrow-left {
  background: url('./arrow-left.svg');
}



.arrow-4 {
  position: relative;
  cursor: pointer;
  margin: 0 20px;
  width: 45px;
  height: 22px;
}
.arrow-4-left {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 0;
  width: 20px;
  height: 5px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.arrow-4-left:after {
  content: "";
  background-color: #337AB7;
  width: 20px;
  height: 5px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.arrow-4-right {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 13px;
  width: 20px;
  height: 5px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.arrow-4-right:after {
  content: "";
  background-color: #337AB7;
  width: 20px;
  height: 5px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}
.open .arrow-4-left:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}
.open .arrow-4-right:after {
  transform-origin: center center;
  transform: rotate(70deg);
}
